mixin nav(params)
  nav.menu
    ul.menu__list
      each item in params
        li.menu__item
          if item == active
            a.menu__link(href="#" class="menu__link_active") #{item}
          else
            a(href="#").menu__link #{item}

mixin socials(socials)
  ul.socials__list
    each val, index in socials
      li.socials__item
        a(href=val, class="socials__link_#{index}", target="_blank").socials__link
        span.text-hide= index